@page
@model ContosoUniversity.Pages.AboutModel

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Relatórios</h2>

<table>
    <tr>
        <th>
            Data de matrícula
        </th>
        <th style="padding-left: 15px;">
            Quantidade (alunos)
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td style="text-align: center;">
                @item.StudentCount
            </td>
        </tr>
    }
</table>