@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div style="background-image: url('img/jovens.jpg');height: 340px;background-position-y: 1214px;"></div>
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Faculdade do Sucesso é um sistema criado usando Entity Framework Core in an
                    ASP.NET Core Razor Pages Web App e que tem como referência, instruções
                    e modelos do site da Microsoft.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Dentre as funções há:
                </p>
                <ul>
                    <li>Cadastro de Alunos com CRUD</li>
                    <li>Cadastro de Professores com CRUD</li>
                    <li>Cadastro de Cursos com CRUD</li>
                    <li>Cadastro de Disciplinas com CRUD</li>
                    <li>Função de de busca por nomes</li>
                    <li>Função de paginação</li>
                    <li>Relatórios dos cadastros realizados</li>
                    <li>Geração de CRUD por Scaffold</li>
                    <li>Controle de Simultaneidade nas alterações e Deleções</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Este sistema está publicado no Github:
                </p>
                <p>
                    <a href="https://github.com/welberoliveira/Razor-com-Entity-Framework-em-ASP.NET-Core-">Faculdade do Sucesso</a>
                </p>
                <br />
                <p>https://github.com/welberoliveira/Razor-com-Entity-Framework-em-ASP.NET-Core-</p>
            </div>
        </div>
    </div>
</div>