@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <!--<div style="background-image: url('img/jovens.jpg');height: 340px;background-position: top;background-size: contain;background-repeat-x: no-repeat;background-repeat-y: no-repeat;"></div>-->
            <img src="~/img/jovens.jpg">
            <div class="col p-4">
                <p class="card-text">
                    Faculdade do Sucesso é um sistema criado usando Entity Framework Core em
                    ASP.NET Core Razor Pages Web App e que tem como referência instruções
                    e modelos do site da Microsoft. Foi utilizado o Sistema Gerenciador de Bancos de Dados 
                    Sql Server. Ambos: aplicação e banco de dados estão hospedados na Azure.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div class="col-md-6 p-4 d-flex flex-column">
                <img src="~/img/codigo.jpg" />
            </div>
            <div class="col-md-6 p-4 d-flex flex-column">
                <span class="card-text">
                    <b>Dentre as funções há:</b>
                </span>
                <ul>
                    <li>Cadastro de Alunos com CRUD;</li>
                    <li>Cadastro de Professores com CRUD;</li>
                    <li>Cadastro de Cursos com CRUD;</li>
                    <li>Cadastro de Disciplinas com CRUD;</li>
                    <li>Função de de busca por nomes;</li>
                    <li>Função de paginação nos relatóroios;</li>
                    <li>Relatórios dos cadastros realizados;</li>
                    <li>Geração de CRUD por Scaffold;</li>
                    <li>Controle de Simultaneidade nas alterações e deleções;</li>
                    <li>Banco de Dados relacional: SQL Server;</li>
                    <li>Layout responsivo e adaptado para celular.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <center class="card-text mb-auto align-content-center">
                    Este sistema está publicado no Github:
                </center>
                <center>
                    <a href="https://github.com/welberoliveira/FaculdadeDoSucesso-Razor-EntityFramework">Faculdade do Sucesso</a>
                </center>
                <center>https://github.com/welberoliveira/FaculdadeDoSucesso-Razor-EntityFramework</center>
            </div>
        </div>
    </div>
</div>