@page
@model ContosoUniversity.Pages.Departments.CreateModel

@{
    ViewData["Title"] = "Cadastrar Curso";
}

<h1>Cadastrar Curso</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Descrição
                <input asp-for="Department.Name" class="form-control" />
                <span asp-validation-for="Department.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Orçamento disponível
                <input asp-for="Department.Budget" class="form-control" />
                <span asp-validation-for="Department.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                Data de início
                <input asp-for="Department.StartDate" class="form-control" />
                <span asp-validation-for="Department.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Coordenador
                <select asp-for="Department.InstructorID" class ="form-control" asp-items="ViewBag.InstructorID"></select>
            </div>
            <div class="form-group mt-2">
                <a class="btn btn-info" asp-page="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
